.page-container {
  width: 70%;
  margin: 0 auto;
  position: relative;

  .timeline-section {
    position: absolute;
    right: 0;
    width: 69%;
  }
  .page-image {
    width: 100%;
  }
}

.pageBtn {
  color: #3b5998;
  background-color: #f7f7f7;
  padding: 25px;
  border: 1px solid #3b5998;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: uppercase;
  #btnIcon {
    color: #3b5998;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.animateBtn:hover {
  transform: translateY(-10px);
}
.animateBtn:active {
  transform: translateY(-3px);
}
