*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



.main-box {
    width: 60%;
    margin: auto;
    background-color:#ffff;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.header {
    text-align: center;
    color:#3b5998;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;

}

#red-button {
    display: inline-block;
}