
.profile-pic,.people-profile-pic {
    height: 250px;
    width: 250px;   
    border-radius: 250px;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    img {
        height: 250px;
        width: 250px;
        border-radius: 250px;
        }
    }
.profile-pic{
    background-color: rgba(0,0,0,0.9);
    &:hover img {
        opacity: .4;
    }
    &:hover  button{
        display: block;
        animation-name: goToDark;
        animation-duration: 5s;
    }
    button {
        position: absolute;
        top:140px;
        z-index: 1;
        width: 250px;
        height: 130px;
        background-color: rgba(0,0,0,0.9);
        border:none;
        color:white;
        display: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 14px;
        #icon {
            color:#fff;
            margin-bottom: 10px;
            font-size: 15px;
        }
        }
    }
    .people-profile-pic {
        border: 1px solid rgba(0,0,0,0.4);
        &:hover {
            opacity: 1;
        }
    }

@keyframes goToDark {
    0%{
        background-color: rgba(0,0,0,0.3);
    }
    100%{
        background-color: rgba(0, 0, 0,0.9);
    }
}