@import "../../sass/index";
.profile-about {
  background-color: white;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    font-size: 2rem;
    color: $font-color;
    font-weight: 400;
    text-align: center;
    padding: 1rem 0;
  }
  .profile__information {
    margin: auto;
    font-size: 1.6rem;
    color: $font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    &-item {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;

      padding: 1rem 0;
      p {
        display: inline-block;
        margin-left: 3rem;
      }
    }
  }
}
