@import "../../sass/index.scss";

.profile {
  width: 70%;
  margin: 0 auto;
  // margin-top: 5.6rem;
  color: rgb(28, 30, 33);
  position: relative;
  @include respond(tab-port) {
    width: 100%;
  }
}
