.pg__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.animateBtn:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.animateBtn:active {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
