@import "../../sass/index.scss";
.posts {
  .end-message {
    text-align: center;
    padding: 1.5rem 0;
    color: $font-color;
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
  }
  &__empty-container {
    // height: 3rem;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    color: $font-color;
    font-size: 1.6rem;
  }
}
