.posts {
  margin-top: 20px;
  #post {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    margin: 5px auto;
    &__image {
      height: 500px;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .header {
      color: #3b5998;
    }
    p {
      text-align: start;
      margin: 10px 0;
    }
    .date {
      margin: 30px 17px 10px 0px;
      text-align: end;
    }
    .extra-content {
      padding: 0 17px;
    }
  }
}
