#root .blue-menu {
  background-color: #3b5998;
  color: #dfe3ee;
  margin-bottom: 0;
}

#Logo,
#icon {
  color: white;
  font-size: 26px;
}

#drop-down-menu {
  padding: 0;
  border: none;
  background-color: transparent;
  min-height: 0;
}
#drop-down {
  padding: 0;
  margin: 0;
  i {
    margin: 0;
    color: white;
    font-size: 22px;
  }
}
