html {
  font-size: 62.5%;
  @include respond(large-screen) {
    font-size: 75%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 43.75%;
  }
}
body {
  background-color: $main-bg-color;
  font-family: "Lato", sans-serif;
}
