$primary-color: #3b5998;
$error-color: rgb(248, 121, 71);
$valid-color: #11998e;
$font-color: rgb(64, 74, 94);
$font-color-2: #999;
$white-color: #fff;
$white-color-1: #f7f7f7;
$grey-color-border: #cccc;
$grey-color-2: rgb(177, 177, 177);
$black-color: #000;
$main-bg-color: #f7f7f7;
$logo-color: #1877f2;
$logo-color-light: #0f4c9a;
