@import "../../sass/index";
.create-group {
  &__container {
    background-color: $white-color;
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2rem 0;
    @include respond(tab-port) {
      width: 100%;
      // margin-top: 5.6rem;
      position: relative;
    }
  }
  &__button {
    cursor: pointer;
    border: none;
    background-color: $primary-color;
    padding: 1rem 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    border: 1px solid $primary-color;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: white;
      transition: all 0.5s ease;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
    }
    &:hover::after {
      transform: translateX(0) scale(1.1);
      z-index: -1;
    }
    &:hover {
      color: $primary-color;
      border: 1px solid $primary-color;
      z-index: 1;
    }
  }
}
