.navBar {
  width: 100%;
  padding: 0;
  background-color: white;
  .right-menu {
    float: right;
  }
  // padding-left: 5px;
  #active {
    border-bottom: 3px solid #3b5998;
  }
  .item {
    display: inline-block;
    padding: 20px 0px;
    margin: 0px 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      border-bottom: 3px solid rgba(85, 85, 85, 0.425);
    }
  }
}
