@import "../../sass/index.scss";
.post__textarea {
  font-size: 1.2rem;
  border: none;
  width: 100%;
  // text-align: start;
  border-bottom: 3px solid $grey-color-border;
  resize: none;
  overflow: hidden;
  padding: 5px;
  &::placeholder {
    font-size: 1.2rem;
  }
  &:focus {
    outline: none;
    border-bottom: 3px solid $primary-color;
  }
}
