@import "../../sass/index";
.people {
  &__item {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 2px solid rgba($grey-color-border, 0.2);
    border-radius: 1rem;
    display: flex;
    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
    }
    &__right {
      flex: 3;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__avatar {
      height: 5rem;
      width: 5rem;
      border: 1px solid rgba($grey-color-border, 0.3);
      border-radius: 0.5rem;
    }
    &__name {
      font-size: 1.4rem;
      color: $font-color;
    }
  }
}
