#edit-label {
  text-align: center;
  color: #555;
  margin: 10px 0;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

#edit-text-area {
  margin-top: 10px;

  width: 98%;
}
