@import "../../sass/index.scss";
.form-field {
  border: none;
  width: 90%;
  margin: 0 auto;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
    @include respond(tab-port) {
      margin-bottom: 0.5rem;
    }
  }
  &__label {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: 1rem;
    transition: all 0.5s ease;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 2;
    opacity: 1;
    visibility: visible;
  }
  &__input {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
    border: 2px solid #f7f7f7;
    border-radius: 1rem;
    margin: 0;

    &:-webkit-autofill {
      &,
      &:active,
      &:focus,
      &:hover {
        background-color: transparent;
        border: 2px solid #f7f7f7 !important;
        outline: none;
        box-shadow: none;
      }
    }
    &:invalid {
      border: 2px solid #f7f7f7;
      box-shadow: none;
      outline: none;
    }
    &:focus {
      border: none;
      outline: none;
      border: 2px solid $primary-color;
      &:invalid {
        border: 2px solid $primary-color;
      }
    }
    &::placeholder {
      color: $font-color-2;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 1.1rem;
    }
  }
  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4rem);
  }
}
