@import "../../sass/index";
.radio-btn {
  padding: 0 2rem;
  width: 20%;
  display: inline-block;
  position: relative;
  @media (max-width: 1300px) {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__input {
    display: none;
  }
  &__input:checked ~ &__label &__custom::after {
    opacity: 1;
  }
  &__label {
    text-transform: uppercase;
    margin-left: 3rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
  }
  &__custom {
    height: 2.5rem;
    width: 2.5rem;
    border: 0.3rem solid $primary-color;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 0;
    transform: translateY(-0.5rem);
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: $primary-color;
      opacity: 0;
      transition: all 0.2s ease;
    }
  }
}
.radio__label {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  font-weight: 600;
  display: block;
  @include respond(tab-port) {
    margin-bottom: 1.5rem;
  }
}
