#comments {
  width: 100%;
  .comment-form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .comment-input-container {
    width: 95%;
  }
  .comment-input {
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(36, 95, 161, 0.4);
  }
  #comment-btn {
    margin-left: 5px;
    border-radius: 100px;
    font-weight: 500;
    height: 40px;
    background-color: rgb(36, 95, 161);
    letter-spacing: 3px;
    padding: 10px;

    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    #comment-btn-icon {
      color: white;
      font-size: 14px;
    }
  }
}
