.header-section {
  position: relative;
  transition: all 2s;
  .profile-pic_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 20px;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
    .profile_name {
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 10px;
      color: white;
      font-weight: 500;
    }
  }
}

.header-section img {
  width: 100%;
  height: 400px;
}

.action-box {
  position: absolute;
  top: 29px;
  left: 20px;
  color: #c0bcbc;
  cursor: pointer;
  #action-icon {
    color: #c0bcbc;
    margin-right: 5px;
    font-size: 20px;
    transition: font-size 2s ease-out;
  }
}
