@mixin clearfix {
    &:after {
        content:"";
        clear: both;
        display: table;
    }
}
.info {
    padding: 10px 20px 20px 20px;
    @include clearfix;

    &__likes {
        float: left;
        cursor: pointer;
    }
    &__comments {
        float:right;
        cursor: pointer;
    }
}

.post--actions{
    padding: 10px 20px 10px 20px;
    border-top:1px solid rgba(0, 0, 0, 0.2);
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    &__like {
        float: left;
        display: block;
        cursor: pointer;
    }
    &__comment {
        float: right;
        display: block;
        cursor: pointer;
    }
}